<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Sneaker Spot | Catalogo</title>
  <link rel="stylesheet" href="/css/style-catalogo.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('../partials/header.ejs') %>

    <main>
      <div class="filters">
        <div class="filter-borrar">
          <p class="title-filter">Filtros</p>
          <button class="b-limpiar">Limpiar filtros</button>
        </div>
        <div class="talles">
          <p class="title-filter" style="margin-bottom: 10px;">Talle</p>
          <div class="buttons-talle" >
            <div class="button-talle">37</div>
            <div class="button-talle">38</div>
            <div class="button-talle">39</div>
            <div class="button-talle">40</div>
            <div class="button-talle">41</div>
            <div class="button-talle">42</div>
            <div class="button-talle">43</div>
            <div class="button-talle">44</div>
          </div>
        </div>
        <div class="clases">
          <p class="title-filter" style="margin-bottom: 10px;">Clase de calzado</p>
          <div class="buttons-clase">
            <div class="button-class">Basket</div>
            <div class="button-class">Urban</div>
            <div class="button-class">Running</div>
            <div class="button-class">Kids</div>
          </div>
        </div>
        <p class="title-filter">Género</p>
        <div class="buttons-genders">
          <div class="button-gender" data-gender="0">Mujer</div>
          <div class="button-gender" data-gender="1">Hombre</div>
        </div>
      </div>

      <div class="product-list">
        <% results.forEach(result=> { %>
          <div class="producto">
            <a class="link" href="/product/<%= result.id %>">
              <div class="img-shoe">
                <img src="/images/<%= result.img %>" alt="" srcset="" width="100%" height="100%">
              </div>
              <div class="desc-shoe">
                <div class="envio-fav">
                  <p class="envio">Envio gratis</p>
                  <button><i class="fa-solid fa-heart" style="color: #5A56E9;"></i></button>
                </div>
                <p class="name-shoe">
                  <%= result.name %>
                </p>
                <p class="class-shoe">
                  <%= result.class %>
                </p>
                <div class="disc-price">
                  <p class="disc-shoe">$ <%= result.discount %>
                  </p>
                  <p class="price-shoe">$ <%= result.price %>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>

      <script>
        document.querySelectorAll('.button-talle').forEach(function (button) {
          button.addEventListener('click', function () {
            const selectedSize = button.innerText;
            window.location.href = '/product/catalogo?talla=' + selectedSize;
          });
        });

        document.querySelectorAll('.button-class').forEach(function (button) {
          button.addEventListener('click', function () {
            const selectedClass = button.innerText; // Corregir aquí
            window.location.href = '/product/catalogo?class=' + selectedClass;
          });
        });

        document.querySelectorAll('.button-gender').forEach(function (button) {
  button.addEventListener('click', function () {
    const selectedGender = button.getAttribute('data-gender');
    window.location.href = '/product/catalogo?gender=' + selectedGender;
  });
});

        document.querySelector('.b-limpiar').addEventListener('click', function () {
          window.location.href = '/product/catalogo';
        });
      </script>
</body>

</html>